@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
  --primary-color: #f9532d;
  --primary-dark: #1F252E;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Estilo do corpo */
body {
  font-family: 'Outfit', sans-serif;
  background-color: #ffffff;
  background-image: url('./img/fundo5.jpg');
  background-attachment: fixed; /* A imagem permanece fixa enquanto o conteúdo rola */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  background-position: center top; /* Centraliza a imagem horizontalmente e fixa o topo */
  background-size: cover; /* Faz a imagem cobrir toda a tela de forma proporcional */
  color: #020202;
  font-size: 1.2rem; /* Define o tamanho da fonte */
  margin: 0;
  padding: 0;
}

/* Media Query para telas menores (como tablets ou celulares) */

@media (max-width: 1730px) {
  body {
    background-image: url('./img/fundo5.1.jpg') 
  }
}
@media (max-width: 1024px) {
  body {
    background-image: url('./img/fundo5.1.jpg') 
  }
}


@media (max-width: 768px) {
  body {
    background-image: url('./img/fundo5.1.jpg') 
  }
}

/* Para garantir uma boa experiência em dispositivos muito pequenos, como celulares */
@media (max-width: 480px) {
  body {
    background-image: url('./img/fundo5.1.jpg') 

  }
}


/* Genral */
.container {
  padding: 0 8.4rem;
}

.img-w {
  width: 100%;
  height: auto;
}

/* Nav */
header {
  background: var(--primary-dark);
  position: relative;
  box-shadow: 0 4px 17px rgba(255, 255, 255, 0.432);
  position: sticky;
  top: 0;
  z-index: 1;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 0;
  animation: leftSideAni 1s ease forwards;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

ul {
  display: flex;
  gap: .6rem;
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
}

li a {
  display: inline-block;
  padding: .3rem 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: .7px;
  border-radius: 36px;
  line-height: 2;
  transition: .3s;
  opacity: 0;
  animation: navani .3s ease forwards;
  animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
  color: var(--primary-color);
}

#click {
  display: none;
}

.menu {
  display: none;
}

.mode i {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--primary-color);
  opacity: 0;
  animation: rightSideAni 1.5s ease forwards;
}



/* Nav End */

/* Section 1 */

.main {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
}

.main h3 {
  color: #ffffff;
  font-size: 1.5rem;
  opacity: 0;
  animation: topSideAni 1s ease forwards;
}

.main h1 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 600;
  opacity: 0;
  animation: leftSideAni 1s ease forwards;
  animation-delay: 1s;
}

.main button {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  border-radius: 7px;
  margin-top: 2rem;
  cursor: pointer;
}

.images {
  margin-left: auto;
  width: 300px;
}

.images img {
  border-radius: 50%;
  box-shadow: 0 0 10px #D1D9E6;
}

/* Section 1 End */

/* Roundin sec */
.main {
  position: relative;
}

.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 3px solid #bbbbbb;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}

.icon-block {
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
}

.icon-block img {
  margin: 0px auto;
  width: 60%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}

.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}

.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}

.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.rounding-sec {
  position: relative;
  height: 400px;
  width: 400px;
}

.images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

/* Animation */
@keyframes leftSideAni {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navani {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes topSideAni {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 4.4rem;
  }

  .main h3 {
    color: #000;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .main {
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }

  .rounding-sec {
    margin: auto;
  }
}

@media screen and (max-width: 834px) {
  .container {
    padding: 0 1.6rem;
  }
}

@media screen and (max-width:744px) {
  body {
    height: auto;
  }

  header {
    height: auto;
    background-color: var(--primary-dark);
  }

  ul {
    background: var(--primary-dark);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 3.4rem;
    left: -100%;
    z-index: 111111;
  }

  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
  }

  #click:checked~ul {
    left: 0%;
    transition: all 0.3s ease;
  }

  .main {
    .main {
      grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    }

    margin-top: 2rem;
    overflow-x: hidden;
  }

  .icon-block {
    width: 50px;
    height: 50px;
  }

  .rounding-sec {
    height: 300px;
    width: 300px;
  }

  .images {
    width: 200px;
  }
}


@media screen and (max-width:600px) {
  body {
    height: auto;
  }

  header {
    height: auto;
    background-color: var(--primary-dark);
  }

  ul {
    background: var(--primary-dark);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 3.4rem;
    left: -100%;
    z-index: 111111;
  }

  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
  }

  #click:checked~ul {
    left: 0%;
    transition: all 0.3s ease;
  }

  .main {
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
    margin-top: 2rem;
    overflow-x: hidden;
  }

  .icon-block {
    width: 50px;
    height: 50px;
  }

  .rounding-sec {
    height: 300px;
    width: 300px;
  }

  .images {
    width: 200px;
  }
}


@media screen and (max-width:420px) {
  .rounding-sec {
    height: 250px;
    width: 250px;
  }

  .images {
    width: 150px;
  }
}



/* Final do container */

/* Inicio do sobre */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  min-height: 100vh;
}

/* Content */

.content {
  padding-left: 120px;
  color: #c7c7c7c9;
  user-select: none;
}

.content h1 {
  font-size: clamp(2.5rem, 4vw, 6rem);
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #f9532d, #ffc16f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  margin-bottom: 36px;
  padding-left: 10px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #000000;
}

.btn {
  background-color: #f76591;
  background-image: linear-gradient(-180deg, #ffc16f, #f76591);
  font-size: clamp(0.8rem, 8vw, 0.9rem);
  font-weight: 600;
  color: #fff;
  width: max-content;
  outline: 0;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-top: 26px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s ease-in;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: auto;
}

.btn:hover {
  box-shadow: 0 4px 10px rgba(247, 101, 145, 0.5);
  transform: scale(0.98);
}

/* Stacked Cards */

.stack {
  position: relative;
}

.card {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 350px;
  height: 500px;
  border-radius: 2rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25),
    0 15px 20px 0 rgba(0, 0, 0, 0.125);
  transition: transform 0.6s;
  user-select: none;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  pointer-events: none;
}

.card:nth-last-child(n + 5) {
  --x: calc(-50% + 90px);
  transform: translate(var(--x), -50%) scale(0.85);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01);
}

.card:nth-last-child(4) {
  --x: calc(-50% + 60px);
  transform: translate(var(--x), -50%) scale(0.9);
}

.card:nth-last-child(3) {
  --x: calc(-50% + 30px);
  transform: translate(var(--x), -50%) scale(0.95);
}

.card:nth-last-child(2) {
  --x: calc(-50%);
  transform: translate(var(--x), -50%) scale(1);
}

.card:nth-last-child(1) {
  --x: calc(-50% - 30px);
  transform: translate(var(--x), -50%) scale(1.05);
}

.card:nth-last-child(1) img {
  box-shadow: 0 1px 5px 5px rgba(250, 71, 0, 0.5);
}

.swap {
  animation: swap 1.3s ease-out forwards;
}

@keyframes swap {
  30% {
    transform: translate(calc(var(--x) - 250px), -50%) scale(0.85) rotate(-5deg) rotateY(65deg);
  }

  100% {
    transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
    z-index: -1;
  }
}

/* Media queries for keyframes */

@media (max-width: 1200px) {
  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 200px), -50%) scale(0.85) rotate(-5deg) rotateY(65deg);
    }

    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }
}

@media (max-width: 1050px) {
  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 150px), -50%) scale(0.85) rotate(-5deg) rotateY(65deg);
    }

    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }
}

/* Media queries for other classes */

@media (max-width: 1200px) {
  .content {
    padding-left: 80px;
  }

  .content p {
    padding-right: 40px;
  }

  .card {
    width: 250px;
    height: 380px;
  }
}

@media (max-width: 1050px) {
  .content {
    padding-left: 60px;
  }

  .content p {
    line-height: 1.5;
  }

  .card {
    width: 220px;
    height: 350px;
  }
}

@media (max-width: 990px) {
  .content p {
    padding-right: 0;
  }

  .card {
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 950px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr;
    grid-template-areas:
      "stacked"
      "content";
  }

  .content {
    grid-area: content;
    text-align: center;
    padding: 0 90px;
  }

  .btn {
    margin-bottom: 30px;
  }

  .stack {
    grid-area: stacked;
  }
}

@media (max-width: 650px) {

  .detail {
    text-align: center;

  }

  main {
    grid-template-rows: 1fr 1fr;
  }

  .content {
    padding: 0 50px;
  }

  .content h1 {
    padding-left: 0;
  }

  .btn {
    padding: 8px 16px;
  }

  .card {
    width: 180px;
    height: 260px;
  }
}

/*inicio especialidades*/

.content1 {
  width: 100%;
  max-width: 1200px; /* Para centralizar o conteúdo em telas maiores */
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 100px;
}

/* Contêiner para as especialidades */
.especialidades-container {
  display: flex;
  flex-wrap: wrap;  /* Permite que os itens se ajustem */
  gap: 20px; /* Espaçamento entre as colunas */
}

/* Estilos para cada item (item de especialidade) */
.item {
  flex: 1 1 45%; /* Cada item ocupa 45% da largura, permitindo 2 colunas em telas grandes */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Espaçamento entre as linhas */
}

/* Estilos das descrições (ocultas inicialmente) */
.descricao {
  display: none;
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.seta {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

/* Exibe a descrição ao clicar */
.descricao.show {
  display: block;
}

@media (max-width: 768px) {
  .especialidades-container {
      padding: 0 10px; /* Adiciona um pouco de padding lateral para não encostar nas bordas da tela */
      margin: 0;  /* Remove qualquer margem lateral no contêiner em telas pequenas */
  }

  .item {
      flex: 1 1 80%; /* Em telas pequenas, cada item ocupa 100% da largura */
  }

  .especialidades-container {
      gap: 10px; /* Reduz o espaçamento entre os itens em telas pequenas */
  }

  .content1 {
    padding: 0;
  }

  h1 {
    padding-bottom: 50px;
  }

}

.especialidades {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 20px;
  opacity: 0;
  /* Inicialmente invisível */
  transform: translateY(50px);
  /* Começa 50px abaixo */
  transition: opacity 2s ease-out, transform 2s ease-out;
  /* Transição suave */

}

/* Classe que será adicionada quando o elemento entrar na tela */
.especialidades.show {
  opacity: 1;
  /* Torna o elemento visível */
  transform: translateY(0);
  /* Move o elemento para a posição original */
}

.especialidades h1 {
  font-size: clamp(2.5rem, 4vw, 6rem);
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #f9532d, #ffc16f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  margin-bottom: 36px;
  padding-left: 10px;
  
}

.especialidades strong {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #000000;
  text-shadow: #ffffffd0 1px 0 10px;
}

/* Estilo da seta */
.seta {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.seta.aberta {
  transform: rotate(180deg); /* Rotaciona a seta quando a descrição estiver visível */
}

/* Estilo da descrição (inicialmente oculta) */
.descricao {
  display: none;
  margin-top: 10px;
  font-size: 16px;
  color: #000000;
}


/*inicio servicos*/

.serviços {
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary-color), rgba(0, 0, 0, 0.2);

}

.serviços h1 {
  font-size: clamp(2.5rem, 4vw, 6rem);
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #f9532d, #ffc16f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  margin-bottom: 36px;
  padding-left: 10px;
}

.serviços p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #000000;
}



/*inicio contato*/

.contato {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), var(--primary-dark), rgba(0, 0, 0, 0.2));
}

.contato h1 {
  font-size: clamp(2.5rem, 4vw, 6rem);
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #f9532d, #ffc16f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  margin-bottom: 36px;
  padding-left: 10px;
}

.contato p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #000000;
}

.localização {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; /* Remover a altura fixa para não forçar o espaçamento vertical */
  margin: 10px; /* Remover margens extras */
}

.localização iframe {
  width: 100%;
  border-radius: 15px;
  max-width: 800px;
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.6);

}


/* inicio rodape*/

.rodape {
  background: var(--primary-dark);
  color: #fff;
  text-align: center;
  padding: 20px;
}

a {
  color: #f7d6d6;
  text-decoration: none;
}













